<!DOCTYPE html>
<html>
	<head>
		<title>Chirp</title>
		<script src="lib/angular.js"></script>
		<script src="lib/angular-ui-router.js"></script>
		<script src="lib/angular-resource.js"></script>
		<script src="javascripts/chirpApp.js"></script>
		<script src="javascripts/controllers/AuthController.js"></script>
		<script src="javascripts/controllers/MainController.js"></script>
		<script src="javascripts/services/UserService.js"></script>
		<script src="javascripts/services/PostService.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="stylesheets/style.css">
	</head>
	<body ng-app="chirpApp">
		<div id='main' class="container">
			<nav class="navbar-fluid navbar-default navbar-fixed-top" ng-controller="AuthController as vm">
				<div class="container">
					    <a class="navbar-brand" ui-sref="home"> Chirp! </a>
					    <p class="navbar-text"> Learn the MEAN stack by building this tiny app</p>
							<!-- <p class="authenticated status">{{vm.UserService.authenticated}}</p> -->
					    <p class="navbar-right navbar-text" ng-hide="vm.UserService.authenticated"><a ui-sref="login">Login</a> or <a ui-sref="register">Register</a></p>
					    <p class="navbar-right navbar-text" ng-show="vm.UserService.authenticated"><a ui-sref="home" ng-click="vm.UserService.signout()">Logout</a></p>
					    <p class="navbar-right navbar-text" ng-show="vm.UserService.authenticated">Signed in as {{vm.UserService.current_user}}</p>
				</div>
			</nav>
			<div class="col-md-offset-2 col-md-8">
				<div ui-view>
				</div>
			</div>
		</div>
	</body>
</html>
